body {
  /* margin-top: 10px;
  margin-left: 40px; */

  background-color: #F0EDE4;
}

.displays {

  width: 100%;
  height: 50px;

  margin-top: 20px;
  margin-left: 10px;

}
.set-view {

  width: 150px;
  height: 24px;



  background-color: #B3B1B1;
  border-radius: 4px;

  display: flex;
  justify-content: center;
  align-items: center;


  z-index: 3;
}

.set-view div {


  width: 50px;
  height: 24px;

  border-radius: 4px;

  display: inline-flex;
  flex-grow: 1;
  align-items: flex-end;

  text-align: center;
  justify-content: center;

  z-index: 4;
}

.set-view div:hover {

  cursor: pointer;
  background-color: #FFFFFF;

  border-radius: 4px;
}


.entry {

  width: 66.7%;
  height: auto;

  margin-top: 5px;
  margin-bottom: 10px;
  padding: 10px;

  border-radius: 9px;
  box-shadow: 2px 2px #DBDBDB;

  background-color: #DBD7C8;

  z-index: 5;
}

.title, .body, .footer {

  width: auto;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 6px;
  background-color: #EBE8DF;
}
.title {

  height: 33px;
  margin-bottom: 4px;

  border-radius: 9px;

  font-size: 20px;
}

.body {

  height: 44px;
  margin-top: 4px;
  margin-bottom: 4px;

  border-radius: 9px;

  font-size: 13px;

}

.footer {

  height: 24px;
  margin-top: 4px;


  border-radius: 9px;
  display: flex;

  font-size: 15px;

}

.footer div {
  display: inline-flex;
  flex-grow: 1;
  align-items: flex-end;
  vertical-align: middle;

  padding-bottom: 6px;
}

.footer-date {
  width: 60%;
}

.footer-tags {
  widows: 40%;
}
