<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
  <form class="" action="/add_entry" method="post">
    <input type="text" name="title_entry" maxlength="100">
    <textarea name="body_entry" maxlength="1000"></textarea>
    <input type="submit" id="add-button" value="Add">
  </form>
  </body>
</html>
