<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/style.css">
    <title></title>
  </head>
  <body>

    <div class="displays">

      <div class="set-view">
        <!-- <h1>Weekly View</h1> -->
        <div class="day" role='button' onclick="window.location.href='/day'" style='background-color: #FFFFFF;'>Day</div>
        <div class="week" role='button' onclick="window.location.href='/week'">Week</div>
        <div class="month" role='button' onclick="window.location.href='/month'">Month</div>
      </div>
      <div class="forward-backward">

      </div>
    </div>
    <div class="listed-entries">
      <% @entries.each do |entry| %>
        <div class="entry">
          <div class="title"><strong><%= entry[:title] %></strong></div>
          <div class="body"><i><%= entry[:body][0..320] %>...</i></div>
          <div class="footer">
            <div class="footer-date">
              <strong>Date: </strong><%= entry[:date] %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </body>
</html>
