<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/index_style.css">
    <title></title>
  </head>
  <body>
    <div class="add-entry" role='button' onclick="window.location.href='/add_entry'">Add Entry</div>
    <div class="show-entry" role='button' onclick="window.location.href='/day'">Show Entries</div>
  </body>
</html>
